<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 對應持久層的介面 -->
<mapper namespace="org.example.mapper.TestMapper" >
    <resultMap id="BaseResultMap" type="org.example.core.model.dto.User">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
    </resultMap>
    <!-- id 對應持久層介面的方法，parameterType 為引數資料型別，resultType 為返回資料型別 -->
<!--    <insert id="insert" parameterType="com.example.demo.entity.MemberAccount">-->
<!--        INSERT INTO test_project.member_account (-->
<!--        USERNAME, PASSWORD, SALT,-->
<!--        CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME-->
<!--        )-->
<!--        VALUES (-->
<!--        #{username}, #{password}, #{salt},-->
<!--        #{create_by}, NOW(), #{update_by}, NOW()-->
<!--        )-->
<!--    </insert>-->

    <select id="selectTestObject" resultMap="BaseResultMap" resultType="org.example.core.model.dto.User">
        SELECT
            id, name, age
        FROM
            t_user
    </select>

    <select id="selectTestObjectTestMap" resultType="org.example.core.model.dto.UserTest">
        SELECT
            id, name
        FROM
            t_user
    </select>

<!--    <update id="update" parameterType="com.example.demo.entity.MemberAccount">-->
<!--        UPDATE-->
<!--        test_project.member_account-->
<!--        SET-->
<!--        PASSWORD = #{password}, UPDATE_BY = #{update_by}, UPDATE_TIME = NOW()-->
<!--        WHERE-->
<!--        ID = #{id}-->
<!--    </update>-->
</mapper>